.mainCard{
    border: 2px solid black;
    border-radius: 15px;
    width: 310px;
    height: 200px;
    margin: 10px;
    background: rgb(240, 54, 54);
    display: flex;
    justify-content: center;
    align-items: center;
}

.whiteCard{
    width: 90%;
    height: 85%;
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
}

.title{
    margin: 40px;
}

.episode{
    color: white;
    background-color: black;
    font-weight: bold;
    height: 35px;
}

span{
    font-weight: bold;
}